html,
body{
	height: 100%;
}
body {
	margin: 0;
}
.wrapper {
	background-color: #f7f7f7;
}
header,
header a {
	font: 12px 'Source Code Pro', sans-serif;
	color: #828282;
	text-transform: uppercase;
}
.reg {
	text-align: center;
}
.ico_header .heart:before {
	font-family: FontAwesome;
	content: "\f004";
	padding-right: 5px;
	display: inline-block;
}
.ico_header .search:before {
	font-family: FontAwesome;
	content: "\f002";
	padding-right: 5px;
	display: inline-block;
}
.lock:before {
	font-family: FontAwesome;
	content: "\f023";
	padding-right: 5px;
	display: inline-block;
}
.brand_navigation {
	background-color: #fff;
}
.reg {
	text-align: center;
}
.reg span {
	padding: 0 5px;
}
.money {
	margin: 0 auto;
	float: right;
}
.money li {
	display: inline-block;
	list-style: none;
}
.navbar-toggle .icon-bar {
  background-color: #636363;
}
.navigation a {
	font: 14px 'Source Code Pro', sans-serif;
	color: #636363;
	text-transform: uppercase;
}
.collapse {
	padding: 0;
}
.navbar-brand {
	padding-top: 35px;
}
.navigation {
	padding-top: 30px;
	float: right;
}
.nav-tabs {
	border: none;
	margin-left: 135px;
}
.nav-tabs li a {
	font: 12px 'Source Code Pro', sans-serif;
	color: #828282;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
}
.menu li a {
	margin: 0;
	padding: 20px;
}
.grid {
	margin-top: 50px;
	padding: 0;
}
.grid-sizer {
	width: 33.3%;
}
.grid-item {
	max-width: 33.3%;
	padding: 5px;
}
.img-responsive {
	margin: auto;
}
.camera,
.film,
.newspaper,
.picture {
	position: relative;
}
.camera:before {
	font-family: FontAwesome;
	content: "\f030";
	color: #d64123;
	font-size: 32px;
	padding: 7px 37px;
	background-color: #fff;
	z-index: 5;
	position: absolute;
	display: block;
	bottom: 0;
	left: 34%;
}
.film:before {
	font-family: FontAwesome;
	content: "\f008";
	color: #d64123;
	font-size: 32px;
	padding: 7px 37px;
	background-color: #fff;
	z-index: 5;
	position: absolute;
	display: block;
	bottom: 0;
	left: 34%;
}
.newspaper:before {
	font-family: FontAwesome;
	content: "\f1ea";
	color: #d64123;
	font-size: 32px;
	padding: 7px 37px;
	background-color: #fff;
	z-index: 5;
	position: absolute;
	display: block;
	bottom: 0;
	left: 34%;
}
.picture:before {
	font-family: FontAwesome;
	content: "\f03e";
	color: #d64123;
	font-size: 32px;
	padding: 7px 37px;
	background-color: #fff;
	z-index: 5;
	position: absolute;
	display: block;
	bottom: 0;
	left: 34%;
}
.caption {
	text-align: center;
}
.caption a {
	font: 12px 'Source Code Pro', sans-serif;
	color: #d7d7d7;
}
.caption time,
.caption span {
	font: 12px 'Source Code Pro', sans-serif;
	color: #d7d7d7;
}
.caption h3 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #636363;
	text-transform: uppercase;
}
.caption p {
	font: 14px 'Source Sans Pro', sans-serif;
	color: #a3a3a3;
}
.info {
	margin-top: 15px;
	text-align: center;
	font-family: 'Source Code Pro', sans-serif;
	font-weight: 600;
	color: #636363;
	text-transform: uppercase;
}
.more {
	text-align: center;
}
.btn-more {
	margin-bottom: 60px;
	border-radius: 0;
}
.btn-default {
	background: #f7f7f7;
	border: none;
	color: #828282;
	font: 16px;
	padding: 20px 44px;
}
.footer-nav {
	padding: 0;
}
.ico-block-title:before {
	font-family: FontAwesome;
	content: "\f101";
	color: #d64123;
	font-size: 14px;
	display: inline-block;
	padding-right: 2px;
}
address:before {
	font-family: FontAwesome;
	content: "\f041";
	color: #d64123;
	font-size: 32px;
	display: inline-block;
	padding-right: 2px;
}
.phone:before {
	font-family: FontAwesome;
	content: "\f095";
	color: #d64123;
	font-size: 32px;
	display: inline-block;
	padding-right: 2px;
}
.mail:before {
	font-family: FontAwesome;
	content: "\f003";
	color: #d64123;
	font-size: 32px;
	display: inline-block;
	padding-right: 2px;
}
.footer-nav li {
	list-style: none;
}
.contact address {
	padding-left: 10px;
	font: 14px 'Source Sans Pro', sans-serif;
	color: #828282;
	margin: 0;
}
.form-control {
	border: none;
	background-color: #f7f7f7;
	font: 14px;
	box-shadow: none;
	height: 50px;
	color: #000;
}	
.block-title {
	font-family: 'Source Code Pro', sans-serif;
	font-weight: 600;
	color: #636363;
	text-transform: uppercase;
}
.footer a {
	font: 14px 'Source Sans Pro', sans-serif;
	color: #828282;
}
.footer span {
	font: 14px 'Source Sans Pro', sans-serif;
	color: #828282;
}
.footer .btn {
	margin: 15px 0;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
	.grid-sizer {
		min-width: 50%;
		padding: 0 5px;
		margin: 0;
	}
	.grid-item {
		min-width: 50%;
		padding: 0 5px;
		margin: 0;
	}
	.ico_header {
		text-align: center;
	}
	.money {
		float: none;
		text-align: center;
	}
	.menu li {
		min-width: 50%;
	}
	.navbar-brand {
		padding: 10px;
		float: left;
	}
	.navbar {
		margin-bottom: 5px;
	}
	.nav > li > a {
    position: relative;
    display: block;
    text-align: center;
  }
  .nav-tabs {
  	margin-left: 0;
  }  
  .btn-more {
		margin-bottom: 10px;
	}
	.camera:before {
		font-size: 20px;
		left: 28%;
	}
	.film:before {
		font-size: 20px;
		left: 28%;
	}
	.newspaper:before {
		font-size: 20px;
		left: 28%;
	}
	.picture:before {
		font-size: 20px;
		left: 28%;
	}
}
@media screen and (max-width: 480px) {
	.grid-sizer {
		max-width: 100%;
		padding: 0 5px;
		margin: 0 auto;
	}
	.grid-item {
		max-width: 100%;
		padding: 0 5px;
		margin: 0 auto;
	}
	.ico_header {
		text-align: center;
	}
	.money {
		float: none;
		text-align: center;
	}
	.menu li {
		min-width: 50%;
	}
	.navbar-brand {
		padding: 10px;
		float: left;
	}
	.navbar {
		margin-bottom: 5px;
	}
	.navigation {
		padding-top: 30px;
		float: none;
		max-width: 240px;
	}
	.nav > li > a {
    position: relative;
    display: block;
    text-align: center;
  }
  .nav-tabs {
  	margin-left: 0;
  }  
  .btn-more {
		margin-bottom: 10px;
	}
}
