html,
body{
	height: 100%;
}
body {
	margin: 0;
}
.wrapper {
	background-color: #f7f7f7;
}
header,
header a {
	font: 12px 'Source Code Pro', sans-serif;
	color: #828282;
	text-transform: uppercase;
}
.ico_header .heart:before {
	font-family: FontAwesome;
	content: "\f004";
	padding-right: 5px;
	display: inline-block;
}
.ico_header .search:before {
	font-family: FontAwesome;
	content: "\f002";
	padding-right: 5px;
	display: inline-block;
}
.lock:before {
	font-family: FontAwesome;
	content: "\f023";
	padding-right: 5px;
	display: inline-block;
}
.brand_navigation {
	background-color: #fff;
}
.reg {
	text-align: center;
}
.reg span {
	padding: 0 5px;
}
.money li {
	display: inline-block;
	list-style: none;
}
.navbar-toggle .icon-bar {
  background-color: #636363;
}
.navigation a {
	font: 14px 'Source Code Pro', sans-serif;
	color: #636363;
	text-transform: uppercase;
}
.money {
	float: right;
}
.collapse {
	padding: 0;
}
.navbar-brand {
	padding-top: 35px;
}
.navigation {
	padding-top: 30px;
	float: right;
}
.nav-tabs {
	border: none;
	margin-left: 135px;
}
.nav-tabs li a {
	font: 12px 'Source Code Pro', sans-serif;
	color: #828282;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
}
.menu li a {
	margin: 0;
	padding: 20px;
}
.grid {
	margin-top: 50px;
	padding: 0;
}
.grid-sizer {
	width: 33.3%;
}
.grid-item {
	max-width: 33.3%;
}
.thumbnail {
	margin: 0 15px;
	max-width: 100%;
	padding: 0;
	border-radius: 0;
	border: none;
	background: none;
}
.ico-theme {
	color: #d64123;
	font-size: 32px;
	padding: 7px 37px;
	background-color: #fff;
	position: absolute;
	top: -32px;
	left: 140px;
}
.caption {
	position: relative;
	text-align: center;
}
.caption a {
	font: 12px 'Source Code Pro', sans-serif;
	color: #d7d7d7;
}
.caption time,
.caption span {
	font: 12px 'Source Code Pro', sans-serif;
	color: #d7d7d7;
}
.caption h3 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #636363;
	text-transform: uppercase;
}
.caption p {
	font: 14px 'Source Sans Pro', sans-serif;
	color: #a3a3a3;
}
.info {
	margin-top: 15px;
	text-align: center;
	font-family: 'Source Code Pro', sans-serif;
	font-weight: 600;
	color: #636363;
	text-transform: uppercase;
}
.btn {
	margin-left: 465px;
	margin-bottom: 60px;
	border-radius: 0;
}
.btn-default {
	background: #f7f7f7;
	border: none;
	color: #828282;
	font: 16px;
	padding: 20px 44px;
}
.footer-nav {
	padding: 0;
}
.ico-footer {
	color: #d64123;	
}
.footer-nav li {
	list-style: none;
}
.contact address {
	padding-left: 10px;
	font: 14px 'Source Sans Pro', sans-serif;
	color: #828282;
	margin: 0;
}
.form-control {
	border: none;
	background-color: #f7f7f7;
	font: 14px;
	box-shadow: none;
	height: 50px;
	color: #000;
}	
.block-title {
	font-family: 'Source Code Pro', sans-serif;
	font-weight: 600;
	color: #636363;
	text-transform: uppercase;
}
.footer a {
	font: 14px 'Source Sans Pro', sans-serif;
	color: #828282;
}
.footer span {
	font: 14px 'Source Sans Pro', sans-serif;
	color: #828282;
}
.footer .btn {
	margin: 15px 0;
}
@media screen and (max-width: 480px) {
	.grid-sizer,
	.grid-item {
		width: 100%;
		margin-left: 110px;
	}
	.ico-theme {
		color: #d64123;
		font-size: 16px;
		padding: 7px 37px;
		background-color: #fff;
		position: absolute;
		top: -30px;
    left: 15px;
	}
	.menu a {
		display: block;
	}
	.navbar-brand {
		padding-top: 10px;
	}
	.navigation {
		padding-top: 30px;
		float: none;
	}
	.nav > li > a {
    position: relative;
    display: block;
    text-align: center;
  }  
}
